<h1>つぶやき一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td> <% = twitter.title %></td>
    <td> <% = twitter.content %></td>
  </tr>
<% end %>
</table>
