<div class = "container">

<div class="show_edit">
<%= render 'form' %>
</div>

<%= form_with(model: @twitter, local: true, method: 'get') do |form| %>
  <%= link_to 'つぶやき一覧', twitters_path, class: 'btn btn-primary' %>
  <%= link_to 'TOPに戻る', top_twitters_path, class: 'btn btn-default' %>
<% end %>

</div>
