<html>

  <head>
    <title>Phase2</title>
  </head>

  <body>
    <div class = "container">
      <!-- <header class = "header">
        <ul class = "top_menu clearfix">
          <li><a href="/twitters/top">TOP</a></li>
          <li><a href="/twitters">つぶやき一覧</a></li>
          <li><a href="/twitters/new">新しいつぶやき</a></li>
        </ul>
      </header> -->

    <h1>Twitter Clone</h1>

      <!-- <footer class = "footer">
        <p>test app</p>
      </footer> -->
    </div>
  </body>
</html>
