<article>
  <div class="container">
    <div class="contents">
      <div class="row">
        <div class="container-fluid">
          <div class="top_title">
            <ul class="row_A">
              <li class="col-sm-6">なに考えてるの〜<br>僕に教えて〜</li>
              <li><img><%= image_tag 'きゃわわんこ.jpg' %></img></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
