<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <ul class = "top_menu clearfix">
        <li><a href="/twitters/top">TOP</a></li>
        <li><a href="/twitters">つぶやき一覧</a></li>
        <li><a href="/twitters/new">新しいつぶやき</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer class = "footer">
      <p>test app</p>
    </footer>
    
  </body>
</html>
